.ABC-HightChart{
  padding: 20px;
}

.xui-chart-head{
  margin-bottom: 50px;
  text-align: left;
  position: relative;
}

.xui-chart-head .xi-chart-title{
  font-size: 16px;
  color: #000;
  font-weight: bold;
  display: inline-block;
}

.xui-chart-head .xi-chart-share{
  /*position: absolute;*/
  right: 0px;
  top: 0px;
}

.xui-chart-head .xi-chart-time{
  position: absolute;
  top: 40px;
}

/*颜色面板*/
.xui-item-content .right-text{
  float: left;
  margin: 6px 10px 7px 0;
  font-size: 12px;
  font-family: PingFangSC-Regular;
  color: #666666;
  line-height: 17px;
}

.xui-item-content .select{
  width: 100px;
  height: 30px;
  margin-right: 20px;
  padding: 0;
  float: left;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #DCDCDC;
  cursor: pointer;
}

.xui-item-content .select-text{
  float: left;
  width: 60px;
  margin: 6px 0 7px 10px;
  font-size: 12px;
  font-family: PingFangSC-Regular;
  color: #666666;
  line-height: 17px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.xui-item-content .background-img{
  float: left;
  margin: 5px 0 5px 5px;
  width: 68px;
  height: 20px;
  border-radius: 2px;
}

.xui-item-content .anticon-down{
  float: right;
  margin: 8px 2px 0 -1px;
  font-size: 14px;
  color: #999999;
}

.xui-ChartColorContent{
  /*position: absolute;*/
  right: 265px;
  top: 0px;
}

.xui-ChartTypeContent{
  /*position: absolute;*/
  right: 70px;
  top: 0px;
}

.xa-chart-custom-compoent{
  float: right;
}

.xi-chart-export{
  margin-right: 20px;
}

.xa-isShare-false{
  display: none;
}

.xa-isChangeColor-false{
  display: none;
}

.xa-isChangeType-false{
  display: none;
}

.xa-isExport-false{
  display: none;
}