.abc-chart-img-con{
  .img-chart-container{
    width: 600px;
    padding: 10px;
  }
  .abc-chart-setting{
    .abc-chart-setting-item{
      padding: 10px;
      border-bottom: 1px solid #EEEEEE;
    }
    .ant-checkbox-wrapper{
      padding-top: 10px;
    }
    .noborder{
      border: none!important;
    }
  }
  .select {
    width:100px;
    height: 30px;
    margin-right: 20px;
    float: left;
    padding: 0 ;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #DCDCDC;
    cursor: pointer;
    .color {
      float: left;
      margin: 5px 0 5px 5px;
      width: 68px;
      height: 20px;
      border-radius: 2px;
    }
    .icon {
      float: right;
      margin: 6px 2px 0 -1px;
      font-size: 14px;
      color: #999999;
      -webkit-transform: scale(0.5)
    }
  }
}

.icon-color0{
  background-image: url('../.././images/color/icon_color0.png');
}
.icon-color1{
  background-image: url('../.././images/color/icon_color1.png');
}
.icon-color2{
  background-image: url('../.././images/color/icon_color2.png');
}
.icon-color3{
  background-image: url('../.././images/color/icon_color3.png');
}
.icon-color4{
  background-image: url('../.././images/color/icon_color4.png');
}
.icon-color5{
  background-image: url('../.././images/color/icon_color5.png');
}
.icon-color6{
  background-image: url('../.././images/color/icon_color6.png');
}
.icon-color7{
  background-image: url('../.././images/color/icon_color7.png');
}
.icon-color8{
  background-image: url('../.././images/color/icon_color8.png');
}

.xa-export-chart{
  .xui-ChartColorContent{
    right: auto;
  }
}
.xui-downloadChart{
  margin-top: 10px;
  a{
    color: #666666;
  }
  a:hover{
    color: #1890ff;
  }
}

.xa-isExportChart-false{
  display: none;
}